.button{
    background-color: $green;
    border: none;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    padding: 0 20px;
    line-height: 1.8em;
    &:hover, &:focus, &:active{
        background-color: $blue;
    }
    a{
        color: $white;
        font-family: "museo_sans_500regular";
    	font-size: 0.8em;
    }
    @include breakpoint(mobile){
        width: 80%;
        left: 0;
        margin: 0 10%;
    }
}