$white: #fff;
$white-opaque: rgba(255,255,255,0.7);
$black: #000;
$grey: #6f6f6f;
$red: #b8000f;
$red-opaque: rgba(184,0,15,0.5);
$blue: #003152;
$blue-opaque: rgba(0,49,82,0.5);
$green: #026924;
$green-opaque: rgba(2,105,36,0.5);