#container {
    width: 100%;
    float: left;
    margin-top: 130px;
    margin-bottom: 20px;
    position: relative;
    ul{
        li { 
            padding-left: 1em; 
            text-indent: -.7em;
            &:before{
                content: "•  ";
                color: $blue;
            }
        }
    }
}
#container.contact{
    ul{
        li { 
            padding-left: 0.5em; 
            text-indent: 0;
            &:before{
                content: "";
            }
        }
    }
}

@media (max-width: 656px) {
    #container {
        margin-top: 70px;
    }
}

#container .flexslider {
    width: 100%;
    float: left;
    min-height: 200px;
    margin-bottom: 0;
    border-bottom: 2px solid $green;
}

@media (max-width: 480px) {
    #container .flexslider {
        min-height: 148px;
    }
}

#container .flexslider .slides li {
    position: relative;
    padding-left: 0; 
    text-indent: 0;
    &:before{
        content: " ";
    }
}

@media (max-width: 768px) {
    #container .flexslider .slides li img {
        display: none;
    }
}

#container .flexslider .slides li img.small {
    display: none;
}

@media (max-width: 768px) {
    #container .flexslider .slides li img.small {
        display: block;
    }
}

#container .flexslider .slides li .flex-caption {
    width: 100%;
    height: 40px;
    background-color: $green;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

@media (max-width: 480px) {
    #container .flexslider .slides li .flex-caption {
    }
}

#container .flexslider .slides li .flex-caption p {
    color: #fff;
    font-family: "museo_sans_700regular";
    font-size: 1em;
    text-align: center;
}

#container .flexslider .slides li .flex-caption p a {
    color: #fff;
}

#container .flexslider .caption-link {
    position: absolute;
    right: 10px;
    transition: all 300ms ease-in-out;
    @include breakpoint(mobile){
        top: 24px;
    }
}

#container .flexslider .slides li .flex-caption p a:hover,#container .flexslider .slides li .flex-caption p a:focus,#container .flexslider .slides li .flex-caption p a:active {
    color: #fff;
}

@media (max-width: 480px) {
    #container .flexslider .slides li .flex-caption p {
        font-size: 0.6em;
    }
}

#container h3 {
    text-align: center;
    margin-top: 40px;
}

#container p {
    text-align: center;
}

#container dd p {
    text-align: left;
}

#container #steps ol {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
}

#container #steps ol li {
    width: 46%;
    margin: 10px 2%;
    float: left;
    color: #fff;
    background-color: $red;
    padding: 20px 20px 20px 50px;
    position: relative;
}

@media (max-width: 480px) {
    #container #steps ol li {
        width: 100%;
        margin: 10px 0;
    }
}

#container #steps ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 16px;
    left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    color: #fff;
    font-family: "museo_sans_700regular";
    background: #003152;
    font-weight: bold;
    text-align: center;
    border-radius: 2em;
}

#container #steps ol li a {
    color: #fff;
}

#container #steps ol li a:hover,#container #steps ol li a:focus,#container #steps ol li a:active {
    color: #003152;
}

#container #quotes{
    blockquote{
        margin: 20px 0 0;
    }
    .author {
        color: rgba(0,49,82,0.7);
        font-family: "museo_sans_700regular";
        text-align: right;
        margin: 0 5% 0 0;
    }
} 

#container .flexslider-clients {
    margin-top: 40px;
    @include breakpoint(mobile-landscape){
        margin-top: 20px;
    }
    .flex-control-nav{
        display: none;
    }
}

#container #clients ul {
    text-align: center;
    margin-bottom: 0;
}

#container #clients ul li {
    width: 130px;
    height: 100px;
    margin: 0 10px;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    padding-left: 0; 
    text-indent: 0;
    &:before{
        content: " ";
    }
    @include breakpoint(mobile){
        width: 125px !Important;
    }
}

#container #news{
    position: relative;
    margin-bottom: 40px;
}

#container #news article {
    width: 100%;
    padding: 10px 20px 20px;
    position: relative;
    margin: 20px 0;
}

#container #news article h5 {
    color: $blue;
}

#container #news article p {
    color: $grey;
    text-align: left;
}

#container #news article a {
    color: $blue;
    font-family: "museo_sans_500regular";
    font-size: 0.8em;
    position: absolute;
    bottom: 40px;
    right: 30px;
}

#container #news article a:hover,#container #news article a:focus,#container #news article a:active {
    color: $red;
}